layout {
    tab name="nvim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode} #[fg=#76946A,bold]{session}{tabs}"
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "false"
              border_char     "─"
              border_format   "#[fg=#C0A36E]{char}"
              border_position "top"

              hide_frame_for_single_pane "true"

              mode_normal  "#[bg=#DCD7BA] "
              mode_tmux    "#[bg=#FFA066] "

              tab_normal   "#[fg=#54546D] {name} "
              tab_active   "#[fg=#C34043,bold,italic] {name} "

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=#76946A] {stdout} "
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"

              datetime        "#[fg=#7E9CD8,bold] {format} "
              datetime_format "%A, %d %b %Y %H:%M"
              datetime_timezone "Europe/Berlin"
            }
        }
        children
    }

}
