layout {
    tab name="nvim" focus=true {
        pane
    }

    tab name="shell" {
        pane
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode} #[fg=#a7c080,bold]{session}{tabs}"
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "false"
              border_char     "─"
              border_format   "#[fg=#9D8F6F]{char}"
              border_position "top"

              hide_frame_for_single_pane "true"

              mode_normal  "#[bg=#d3c6aa] "
              mode_tmux    "#[bg=#f1fa8c] "

              tab_normal   "#[fg=#7a8478] {name} "
              tab_active   "#[fg=#e67e80,bold,italic] {name} "

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=green] {stdout} "
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"

              datetime        "#[fg=#a7c080,bold] {format} "
              datetime_format "%A, %d %b %Y %H:%M"
              datetime_timezone "Europe/Berlin"
            }
        }
        children
    }
}
